workflows/agent1-shersial-producthunt.json
{
  "name": "Agent 1 - shersial.com Product Hunt Scout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed"
      },
      "id": "ph-rss",
      "name": "Fetch Product Hunt Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.seenProductHuntIds) staticData.seenProductHuntIds = [];\nconst seen = staticData.seenProductHuntIds;\n\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  const id = item.json.link || item.json.guid;\n  if (!id || seen.includes(id)) continue;\n  seen.push(id);\n  newItems.push({\n    json: {\n      id: id,\n      title: item.json.title || '',\n      content: item.json.contentSnippet || item.json.content || '',\n      link: item.json.link || '',\n      pubDate: item.json.pubDate || item.json.isoDate || ''\n    }\n  });\n}\n\nif (seen.length > 5000) staticData.seenProductHuntIds = seen.slice(-5000);\n\nreturn newItems;"
      },
      "id": "dedup-code",
      "name": "Deduplicate Launches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-launches",
      "name": "Have New Launches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-over-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [ { parts: [ { text: `You are a lead qualification and personalization engine for shersial.com. shersial.com delivers high-end, Awwwards-level Webflow and Brutalist-Modernist UI/UX design for premium brands and well-funded startups. Ideal customer profile: a funded startup or premium brand that just launched on Product Hunt but likely has a generic, templated, or outdated website that does not match a high-end aesthetic, or companies in luxury and premium niches such as lifestyle, hospitality, sports, real estate, or enterprise SaaS needing a standout design. Evaluate this Product Hunt launch. Title: ${$json.title} Description: ${$json.content} Link: ${$json.link} If this looks like a funded or notable launch that could benefit from a premium Webflow or Brutalist-Modernist redesign, output ONLY a valid JSON object (double-quoted keys and string values, no markdown fences) with fields: qualified set to true, score from 1 to 10, company_name if detectable else null, pain_point as one sentence describing the likely design gap, personalized_audit as a concise constructive roast plus pitch for a shersial.com premium redesign in max 3 sentences ready to send, suggested_subject as an email subject line, email as a contact email address only if one is explicitly written in the post text else null, missing_info as anything else needed or null. If this does not fit, output ONLY a JSON object with qualified set to false and no other fields.` } ] } ] }) }}",
        "options": {}
      },
      "id": "gemini-api",
      "name": "Gemini Qualify & Personalize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet raw = '';\ntry {\n  raw = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { qualified: false, error: 'bad response' };\n}\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\ntry {\n  return JSON.parse(raw);\n} catch (e) {\n  return { qualified: false, error: 'parse error', raw: raw };\n}"
      },
      "id": "parse-gemini",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.qualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": false
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-qualified",
      "name": "Is Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (agent, score, company_name, platform, pain_point, personalized_audit, suggested_subject, email, source_url) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9) ON CONFLICT (source_url, agent) DO NOTHING",
        "options": {
          "queryReplacement": "={{ ['shersial.com', $json.score, $json.company_name, null, $json.pain_point, $json.personalized_audit, $json.suggested_subject, $json.email, $('Deduplicate Launches').item.json.link] }}"
        }
      },
      "id": "postgres-insert",
      "name": "Insert Postgres Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1850, 100],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Postgres CRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: `🎯 **New lead — shersial.com** · score ${$json.score}/10\n**Company:** ${$json.company_name || 'N/A'}\n**Pain:** ${$json.pain_point}\n\n📋 **Draft reply (copy-paste):**\n${String.fromCharCode(96,96,96)}\n${$json.personalized_audit}\n${String.fromCharCode(96,96,96)}\n✉️ **Subject:** ${$json.suggested_subject}\n🔗 ${$('Deduplicate Launches').item.json.link}\n☑️ Mark contacted: http://localhost:5678/webhook/mark-contacted?agent=shersial.com&url=${encodeURIComponent($('Deduplicate Launches').item.json.link)}` }) }}",
        "options": {}
      },
      "id": "notify-discord",
      "name": "Notify Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "seconds"
      },
      "id": "wait-before-next",
      "name": "Wait Before Next Request",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 450]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [[ { "node": "Fetch Product Hunt Feed", "type": "main", "index": 0 } ]]
    },
    "Fetch Product Hunt Feed": {
      "main": [[ { "node": "Deduplicate Launches", "type": "main", "index": 0 } ]]
    },
    "Deduplicate Launches": {
      "main": [[ { "node": "Have New Launches?", "type": "main", "index": 0 } ]]
    },
    "Have New Launches?": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Gemini Qualify & Personalize", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Qualify & Personalize": {
      "main": [[ { "node": "Parse Gemini JSON", "type": "main", "index": 0 } ]]
    },
    "Parse Gemini JSON": {
      "main": [[ { "node": "Is Qualified?", "type": "main", "index": 0 } ]]
    },
    "Is Qualified?": {
      "main": [
        [{ "node": "Insert Postgres Lead", "type": "main", "index": 0 }],
        [{ "node": "Wait Before Next Request", "type": "main", "index": 0 }]
      ]
    },
    "Insert Postgres Lead": {
      "main": [[ { "node": "Notify Discord", "type": "main", "index": 0 } ]]
    },
    "Notify Discord": {
      "main": [[ { "node": "Wait Before Next Request", "type": "main", "index": 0 } ]]
    },
    "Wait Before Next Request": {
      "main": [[ { "node": "Loop Over Items", "type": "main", "index": 0 } ]]
    }
  }
}
