workflows/agent2-getdesign-reddit.json
{
  "name": "Agent 2 - getdesign.io Reddit Scout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/saas+smallbusiness+startups/new/.rss"
      },
      "id": "reddit-rss",
      "name": "Fetch Reddit Posts",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.seenRedditIds) staticData.seenRedditIds = [];\nconst seen = staticData.seenRedditIds;\n\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  const id = item.json.link || item.json.guid;\n  if (!id || seen.includes(id)) continue;\n  seen.push(id);\n  newItems.push({\n    json: {\n      id: id,\n      title: item.json.title || '',\n      selftext: item.json.contentSnippet || item.json.content || '',\n      permalink: item.json.link || '',\n      pubDate: item.json.pubDate || item.json.isoDate || ''\n    }\n  });\n}\n\nif (seen.length > 5000) staticData.seenRedditIds = seen.slice(-5000);\n\nreturn newItems;"
      },
      "id": "dedup-code",
      "name": "Deduplicate Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-posts",
      "name": "Have New Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-over-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [ { parts: [ { text: `You are a lead qualification and personalization engine for getdesign.io. getdesign.io offers productized UI/UX design subscriptions (Webflow/Framer) and digital marketing. Ideal customer profile: early-stage SaaS founders needing marketing sites, agencies overloaded with design work, small business owners stuck on DIY builders, anyone saying need a designer or Webflow help. Evaluate this Reddit post. Title: ${$json.title} Body: ${$json.selftext} If this person fits our ICP and has high intent, output ONLY a valid JSON object (double-quoted keys and string values, no markdown fences) with fields: qualified set to true, score from 1 to 10, company_name if detectable else null, pain_point as one sentence, personalized_audit as a concise constructive roast plus pitch for the getdesign.io subscription in max 3 sentences ready to send, suggested_subject as an email subject line, missing_info as anything else needed or null. If this person does not fit, output ONLY a JSON object with qualified set to false and no other fields.` } ] } ] }) }}",
        "options": {}
      },
      "id": "gemini-api",
      "name": "Gemini Qualify & Personalize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet raw = '';\ntry {\n  raw = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { qualified: false, error: 'bad response' };\n}\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\ntry {\n  return JSON.parse(raw);\n} catch (e) {\n  return { qualified: false, error: 'parse error', raw: raw };\n}"
      },
      "id": "parse-gemini",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.qualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": false
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-qualified",
      "name": "Is Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (agent, score, company_name, platform, pain_point, personalized_audit, suggested_subject, source_url) VALUES ($1, $2, $3, $4, $5, $6, $7, $8) ON CONFLICT (source_url) DO NOTHING",
        "options": {
          "queryReplacement": "={{ ['getdesign.io', $json.score, $json.company_name, null, $json.pain_point, $json.personalized_audit, $json.suggested_subject, $('Deduplicate Posts').item.json.permalink] }}"
        }
      },
      "id": "postgres-insert",
      "name": "Insert Postgres Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1850, 100],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Postgres CRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-unique-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'getdesign.io', score: $json.score, company_name: $json.company_name, pain_point: $json.pain_point, personalized_audit: $json.personalized_audit, suggested_subject: $json.suggested_subject, source_url: $('Deduplicate Posts').item.json.permalink }) }}",
        "options": {}
      },
      "id": "delivery-webhook",
      "name": "Post to Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "seconds"
      },
      "id": "wait-before-next",
      "name": "Wait Before Next Request",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 450]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[ { "node": "Fetch Reddit Posts", "type": "main", "index": 0 } ]]
    },
    "Fetch Reddit Posts": {
      "main": [[ { "node": "Deduplicate Posts", "type": "main", "index": 0 } ]]
    },
    "Deduplicate Posts": {
      "main": [[ { "node": "Have New Posts?", "type": "main", "index": 0 } ]]
    },
    "Have New Posts?": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Gemini Qualify & Personalize", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Qualify & Personalize": {
      "main": [[ { "node": "Parse Gemini JSON", "type": "main", "index": 0 } ]]
    },
    "Parse Gemini JSON": {
      "main": [[ { "node": "Is Qualified?", "type": "main", "index": 0 } ]]
    },
    "Is Qualified?": {
      "main": [
        [{ "node": "Insert Postgres Lead", "type": "main", "index": 0 }],
        [{ "node": "Wait Before Next Request", "type": "main", "index": 0 }]
      ]
    },
    "Insert Postgres Lead": {
      "main": [[ { "node": "Post to Webhook", "type": "main", "index": 0 } ]]
    },
    "Post to Webhook": {
      "main": [[ { "node": "Wait Before Next Request", "type": "main", "index": 0 } ]]
    },
    "Wait Before Next Request": {
      "main": [[ { "node": "Loop Over Items", "type": "main", "index": 0 } ]]
    }
  }
}
